.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index:2001;
}
.navbar .container {
  flex-direction: row-reverse;
}

.navbar .navbar-brand {
    color: #4592af;
  }
  
.navbar .navbar-brand:hover {
  color: #226089;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.nav-buttons a > i{
  font-size: 30px;
  color: white;
}

.app-container{
  position: relative;
  padding-top: 60px;
}

.banner {
  position: relative;
  z-index: -1;
  height: 50vh;
  background: #dddddd center center url('/pic/banner.jpg');
  background-size: cover;
  filter: blur(3px);
}

.banner-title {
  margin-top: 56px;
  height: 360px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.banner-title h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Gloria Hallelujah', cursive;
}

.flash-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  opacity: 0.7;
  max-width: 550px;
  margin-top: 60px;
}

.alert-dismissible{
  padding-right: 3rem;
  transition: all 0.3s ease-in-out;
}

table {
  text-align: center;
}

@media screen and (max-width: 575.99px) {

  table {
    font-size: small;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {

  .banner-title h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 992px) {

  .banner-title h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  
  .banner-title h1 {
    font-size: 4.5rem;
  }
}